.main-c{
  background-color: #e0e0e080;
  border: 20px solid;
  border-color: #0000001a;
  border-radius: 20px;
  height: 100vh;
  width: 100vw;
  display:flex;
  padding:10px;
  flex-direction: column;
  background-size:cover;
}

.small-c{
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.33) 99.97%,
    rgba(255, 255, 255, 0.33) 99.98%,
    rgba(255, 255, 255, 0.22) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 15px solid;
  border-color: #00000080;
  border-radius: 20px;
  
  mix-blend-mode: hard-light;
  height:550px;
  width:1200px;
  margin-left:45px;
  padding:20px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.fom{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background-color: #000000f2;
  border-radius: 20px;
  height: 528px;
  left: 745px;
  width: 500px;
  padding:20px;
}

.undraw-login-re {
  height: 550px;
  width: 650px;
}

.text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 38px;
  
  letter-spacing: 0;
  line-height: 37.1px;
 
  white-space: nowrap;
 padding:30px;
 margin:20px;
 
}


.b-di{
  display: flex;
  padding:20px;
  flex-direction: column;
  margin-left:20px;
 
}


.frame-3 {
  
  border-radius: 12px;
  height: 49px;
  
  padding-left: 4px;
  width: 277px;
}

.frame-5 {
  background: linear-gradient(180deg, rgb(178, 188, 230) 0%, rgb(15, 9, 5) 100%);
  border-radius: 10px;
  height: 30px;
  
  
  
  width: 89px;
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "Inter", Helvetica;
}

.text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 37px;
  left: 17px;
  letter-spacing: 0;
  line-height: 37.1px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  width: 55px;
}



 .span {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 37.1px;
}

.text-wrapper-5 {
  font-size: 24px;
}


.div-wrapper {
  background: linear-gradient(180deg, rgb(226, 164, 18) 0%, rgba(226, 164, 18, 0) 100%);
  border-radius: 16px;
  height: 51px;
  
  width: 199px;
  color:white;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  
}
.lgin{
  display: flex;
  justify-content:center;
  margin-top:20px;
}

.div-wrapper-2{
  background: white;
  border-radius: 16px;
  height: 51px;
  
  width: 299px;
  color:rgb(14, 13, 13);
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  margin-top:10px;
}


.google-btn {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff; /* Adjust the background color */
  color:black;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top:30px;
}

.google-btn:hover {
  background-color: #000000; /* Adjust the hover background color */
  color:white;
}

.google {
  height: 24px;
  width: 24px;
  margin-right: 10px; /* Adjust the margin based on your design */
  background-color:white;
}

.resultsignup{
  color: white;
}