.landing-page-background{
    /*background-image: linear-gradient(#0F0905,#282427,#B2BCE6);*/
    background: linear-gradient(
      180deg,
      rgb(15, 9, 5) 0%,
      rgba(39.61, 36.03, 38.97, 0.85) 12%,
      rgba(178, 188, 230, 0) 100%
    );
    height:100vh;
    width:100vw;
    background-size:cover;
    
    display: flex;
    flex-direction:column;
    
  }



  .main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:5px;
   
  }

  .l-container{
    height: 781px;
    width: 1356px;
    margin:20px;
    isplay: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }
  
  .l-top {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(178, 188, 230) 100%);
    border-radius: 20px;
    height: 480px;
    width: 389px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px;
    margin-bottom:20px;
    margin-left:16px;
  }
  
  .undraw-add-to-cart {
    height: 181px;
    
    width: 340px;
  }
  
  .check-our-quality {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 48px;
    font-weight: 800;
    height: 231px;
    left: 32px;
    letter-spacing: 0;
    line-height: 37.1px;
    width: 308px;
  }
  
  .l-bottom {
    background: linear-gradient(180deg, rgb(178, 188, 230) 4.98%, rgb(0, 0, 0) 71.91%);
    border-radius: 20px;
    height: 134px;
    width: 389px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:20px;
    margin-left:20px;
    
  }
  
  .gtv-container {
    height: 100px;
    left: 23px;
    position: relative;
    top: 11px;
    width: 332px;
  }
  
  .go-through-videos {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 22px;
    font-weight: 800;
    height: 94px;
    left: 0;
    letter-spacing: 0;
    line-height: 37.1px;
   
    width: 332px;
  }
  
  .span {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 37.1px;
  }
  
  .spacetext {
    font-size: 30px;
  }
  
  .text-video{
    font-size: 50px;
    margin-top:5px;
  }
  
  .undraw-online-video {
    height: 86px;
    left: 207px;
    
    top: 14px;
    width: 82px;
  }
  
  .r-container{
    background: linear-gradient(180deg, rgba(224, 224, 224, 0) 4.8%, rgb(0, 0, 0) 69.1%);
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    height: 700px;
    width: 936px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:20px;
    margin-right:80px;
    align-items: center;
  }
  
  .stbtn {
    background: linear-gradient(180deg, rgb(226, 164, 18) 0%, rgba(226, 164, 18, 0) 100%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #ffffff;
    border-radius: 20px;
    height: 78px;
    left: 268px;
    top: 502px;
    width: 351px;
  }
  
  .text-stbtn{
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 800;
    height: 43px;
    left: 104px;
    letter-spacing: 0;
    line-height: 37.1px;
    
   
    white-space: nowrap;
    width: 184px;
  }
  
  .r-top{
    height: 318px;
    left: 81px;
    width: 751px;
    padding-left:20px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    
  }
  
  .overlap-group-2 {
    height: 297px;
    
    top: 11px;
  }
  
  .undraw-scientist {
    height: 297px;
    left: 418px;
   
    top: 0;
    width: 333px;
  }
  
  .test-our-soil-before {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 48px;
    font-weight: 800;
    height: 186px;
    left: 0;
    letter-spacing: 0;
    line-height: 37.1px;
    
    top: 71px;
  }
  
  .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 37.1px;
  }
  
  .text-wrapper-11 {
    font-size: 32px;
  } 
  